---
description: Here we talk about the tools (mostly free software) that you can use to create your book
---
<div class="container">
    <h1>Free Software</h1>
    <div id="free-software-intro">
        <div class="row">
            <div class="col-md-6 align-self-center" style="line-height: 26px;">
                <p>In this page we will give you the tools so that you can start writing and making your own book. All the tools are free for you to download and use. No purchase or pirate copies are ever necessary.</p>
                <p>There is the tool for <strong>writing the book</strong> (<em>necessary</em>) and the tool for the <strong>image of the cover</strong> (<em>optional</em>).</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid d-flex mx-auto d-md-inline-flex mr-md-auto" alt="The phrase: did we mention it's free" src="/assets/img/mention-free.webp" srcset="/assets/img/mention-free.webp 289w">
            </div>
        </div>
    </div>
    <div id="software">
        <div class="row software-item">
            <div class="col">
                <h3>Latex</h3>
                <p>This software is for writing professional looking books. With it you only need to focus on the content of your book, leaving the details of the format of the book to another person, or to maybe later (after the work is finished).
                    You can download it here for <a href="http://mirror.ctan.org/systems/texlive/tlnet/install-tl-windows.exe">Windows</a>, <a href="http://www.tug.org/mactex/">Mac OS</a>. For Linux you may use your <a href="https://repology.org/metapackage/texlive/versions">package manager</a> or install it <a href="https://www.tug.org/texlive/acquire-netinstall.html">manually</a>.
                </p>
                <p>After installing the LATEX you need to install an editor to write LATEX documents. I highly recommend <a href="https://www.texstudio.org/">TexStudio</a>. This is the program you need to launch in a daily basis to do the writing.</p>
            </div>
            <div class="col-lg-4 software-item-img-col">
                 {% include element/img.html lazy="true" class="img-fluid" src="/assets/img/latex-logo.png" alt="latex logo" %}
            </div>
        </div>
        <div class="row software-item">
            <div class="col">
                <h3>GIMP</h3>
                <p>This is the software for creating high quality images. It is similar to PhotoShop. It can be used to create your cover book and it&#x2019;s free.</p>
                <p>It can be a bit complex at first, but you can find many tutorials online to guide you through (on Youtube and Google).</p>
                <p>You can download this software from <a href="https://www.gimp.org/downloads/">here</a>.</p>
            </div>
            <div class="col-lg-4 software-item-img-col">
                 {% include element/img.html lazy="true" class="img-fluid" src="/assets/img/gimp-logo.png" alt="gimp logo" %}
            </div>
        </div>
        <div class="row software-item">
            <div class="col">
                <h3>canva.com</h3>
                <p>If you find Gimp too complicated we have an easy online tool to create your book cover. They have a free version, so I believe it may be useful for some of you.</p>
                <p>The only downside that I found is that when you upload big images to be a part of your cover, the webapp resizes your images automatically on upload, to a size that sometimes is too small. So your image may appear streched to fit
                your cover. This is the reason why I recommend using Gimp - no such problem in a offline software.</p>
                <p>If you still want to use this webapp, go to <a href="https://www.canva.com/">canva.com</a>.</p>
            </div>
            <div class="col-lg-4 software-item-img-col">
                 {% include element/img.html lazy="true" class="img-fluid" src="/assets/img/canva_logo.png" alt="canva.com logo" %}
            </div>
        </div>
    </div>
    <hr>
    <div id="next-step">
        <div class="row">
            <div class="col">
                <h2 class="text-uppercase">Next Step</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <p>Now that you have downloaded the software, you can go to the next step, that is to see the videos to <strong>learn</strong> how to use those softwares.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" role="button" href="/learning/">Go to Video Learning</a>
            </div>
        </div>
    </div>
</div>