---
description: This page teaches how to assigning book ownership to your own digital books
---
<div class="container">
    <h1>Book Ownership</h1>
    <div class="row">
        <div class="col">
            <p>Book ownership is where you tell the world that your book file was created by you. And the book file integraty is checked to make sure that nobody has modified it in one way or another.<br>There are 3 ways to do this (2 of those are free, and the last one comes with a cost).<br>I recommend that you do at least the free ways.</p>
            <h2>Setting in the File&apos;s Author:</h2>
            <h3 id="pdf-metadata">PDF File Metadata (free)</h3>
            <p>If you created a pdf book file, I recommend that you set the book&apos;s author&apos;s name and email to the pdf book file&apos;s metadata. This can be done by setting the author (or creator) pdf metadata tag to match your name and email.<br>To achieve this you can use, for example,&#xA0;<a href="https://pdfcandy.com/edit-pdf-meta.html" target="_blank">pdfcandy.com</a>&#xA0;page. Just upload your book file creation to the page and you&#xA0;can set the book&apos;s author name and email (yours, I presume) in the author field. It will set that metadata inside your new pdf file. You have to download and store this new pdf file.<br></p>
            <h3>PGP File Signing (free)</h3>
            <p>This step can be made on any file (in our case, it can be made on our pdf and/or epub book files creations) and it means that anyone can verify that this file, as it is, was signed by you. If the file changes, the signature won&apos;t be valid, so the reader know it is not a authentic copy of the book.<br>For doing this on Windows and Linux you can follow the signing step on this tutorial video (be sure not to follow the encryption step):</p>
            
            {% comment %}
            {% include components/video-youtube-no-cookie.html id='QmE4LrBSChQ' %}
            {% endcomment %}
            
            <p>On Mac, you must install&#xA0;<a href="https://gpgtools.org/" target="_blank">GPGTools</a>&#xA0;for the PGP signing. You can follow <a href="https://youtu.be/MaZ8_V-iveQ" target="_blank">this video</a>.
            </p>
            <h3>Blockchain Proof (with a cost)</h3>
            <p>Additionally, and with a cost, you can certify your book document publically in the bitcoin blockchain with&#xA0;<a href="https://proofofexistence.com/" target="_blank">proofofexistence.com</a>.<br>If you are doing this to your pdf book file creation, you should do this step after you have set the pdf file metadata correctly (such as following the <a href="#pdf-metadata">PDF File Metadata step</a>).</p>
            <h2>After that:</h2>
            <p>After the book ownership as been established you can upload your book file (and the corresponding pgp signature file, if you have produced one) to our online library page.<br>In case you have, for example, a pgp signature file for your epub book version, for the signature file to be uploaded you must click on the epub input file button on our&#xA0;<a href="/library-upload/" target="_parent">upload book webpage</a>. Then choose your epub book file and, inside of the same file popup window, choose also the pgp signature file that corresponds to the epub file.<br></p>
            <p>Now you can be sure that you are the recognized as the author of your book files.</p>
        </div>
    </div>
</div>
