<!-- FAVICON (https://realfavicongenerator.net/) -->
<link rel="shortcut icon" href="/favicon.ico?v=LbzdWxwRQw">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png?v=LbzdWxwRQw" crossorigin="anonymous">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png?v=LbzdWxwRQw" crossorigin="anonymous">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon.png?v=LbzdWxwRQw" crossorigin="anonymous">
<link rel="manifest" href="/assets/img/favicon/site.webmanifest?v=LbzdWxwRQw" crossorigin="anonymous">
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg?v=LbzdWxwRQw" color="#5bbad5" crossorigin="anonymous">
<meta name="apple-mobile-web-app-title" content="FreeWriters">
<meta name="application-name" content="FreeWriters">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml?v=LbzdWxwRQw">
<meta name="theme-color" content="#fbe9dd">

