<ul class="contact">
	<li><a href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank" class="facebook-color fab fa-facebook-f">
	</a></li>
	<li><a href="https://www.instagram.com/{{ site.instagram_username }}/" target="_blank" class="instagram-color fab fa-instagram"></a></li>
	<li><a href="mailto:{{ site.main-email }}" class="email-color far fa-envelope"></a></li>
	<li><a href="https://twitter.com/{{ site.twitter_username }}/" target="_blank" class="twitter-color fab fa-twitter"></a></li>
</ul>
