@font-face {
    font-family: 'Rokkitt';
    src: url($fontFolder + 'Rokkitt/rokkitt-bold-webfont.woff2') format('woff2'),
         url($fontFolder + 'Rokkitt/rokkitt-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
};

@font-face {
    font-family: 'Rokkitt';
    src: url($fontFolder + 'Rokkitt/rokkitt-extrabold-webfont.woff2') format('woff2'),
         url($fontFolder + 'Rokkitt/rokkitt-extrabold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
};

@font-face {
    font-family: 'Rokkitt';
    src: url($fontFolder + 'Rokkitt/rokkitt-extralight-webfont.woff2') format('woff2'),
         url($fontFolder + 'Rokkitt/rokkitt-extralight-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
};

@font-face {
    font-family: 'Rokkitt';
    src: url($fontFolder + 'Rokkitt/rokkitt-light-webfont.woff2') format('woff2'),
         url($fontFolder + 'Rokkitt/rokkitt-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
};
