<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Who we are?</h3>
                    <ul>
                        <li><a href="/about/">Organization</a></li>
                        <li><a href="/#goals">Mission</a></li>
                        <li><a href="/learning/">Tools</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Support us</h3>
                    <ul>
                        <li><a href="/join-us/?form=1">LaTeX Coder</a></li>
                        <li><a href="/join-us/?form=2">Book Cover Designer</a></li>
                        <li><a href="#">Donate</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Site</h3>
                    <ul>
                        <li><a href="/disclaimer/">Disclaimer of use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/sitemap.xml">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-3 item social text-center">
                    <div class="row">
                        <a href="{{ site.social.facebook }}" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="{{ site.social.youtube }}" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="{{ site.social.pixelfed }}" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="mailto:{{ site.email }}" target="_blank">
                            <i class="far fa-envelope"></i>
                        </a>
                    </div>
                    <div class="row">
                        <p class="copyright mx-auto">FreeWriters &#xA9; 2018 -&#xA0;<span class="ano"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>