<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Who we are?</h3>
                    <ul>
                        <li><a href="/about/">Organization</a></li>
                        <li><a href="/#goals">Mission</a></li>
                        <li><a href="/learning/">Tools</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Support us</h3>
                    <ul>
                        <li><a href="/join-us/?form=1">LaTeX Coder</a></li>
                        <li><a href="/join-us/?form=2">Book Cover Designer</a></li>
                        <li><a href="#">Donate</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Site</h3>
                    <ul>
                        <li><a href="/disclaimer/">Disclaimer of use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/sitemap.xml">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 item social text-center">
                    <div class="row justify-content-around mx-2">
                            <a class="facebook-f" href="{{ site.social.facebook }}" target="_blank"></a>
                            <a class="youtube" href="{{ site.social.youtube }}" target="_blank"></a>
                            <a class="envelope" href="mailto:{{ site.email }}" target="_blank"></a>
                            <a class="irc" href="{{ site.social.irc }}" target="_blank"></a>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="copyright mx-auto">FreeWriters &#xA9; 2018 -&#xA0;<span class="ano"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
