<nav id="mynavbar" class="navbar navbar-dark navbar-expand-lg" style="background-color: rgba(25,3,3,0.8);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            {% include element/img.html src="/assets/img/logo-transparent-texto-branco.webp" alt="FreeWriters logo" %}
        </a>
        <label for="checkbox-menu-toggle" class="navbar-toggler" aria-controls="mynavbar" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </label>

        <input type="checkbox" id="checkbox-menu-toggle" class="d-none">

        <div class="navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about/">
                        <span class="user-friends"></span>&nbsp;About
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle nav-link" href="#">
                        <span class="star"></span>&nbsp;Resources
                    </a>
                    <div class="dropdown-menu text-justify">
                        <a class="dropdown-item" href="/free-software/">
                            <span class="laptop"></span>&nbsp;Free Software
                        </a>
                        <a class="dropdown-item" href="/latex-templates/">
                            <span class="bookmark"></span>&nbsp;Book Templates
                        </a>
                        <a class="dropdown-item" href="/learning/">
                            <span class="chalkboard-teacher"></span>&nbsp;Learning
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle nav-link" href="#">
                        <span class="book-open"></span>&nbsp;Library
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/library-upload/">
                            <span class="cloud-upload-alt"></span>&nbsp;Book Upload
                        </a>
                        <a class="dropdown-item" href="/library-book-ownership/">
                            <span class="registered"></span>&nbsp;Book Ownership
                        </a>
                        <a class="dropdown-item" href="/library/">
                            <span class="download"></span>&nbsp;Get Books
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/">
                        <span class="envelope"></span>&nbsp;Contact
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/join-us/">
                        <span class="handshake"></span>&nbsp;Join us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>