// fontawesome
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/brands.scss";
@import "../fontawesome/scss/solid.scss";

.user-friends {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-user-friends);
  }
}

.star {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-star);
  }
}

.laptop {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-laptop);
  }
}

.bookmark {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-bookmark);
  }
}

.chalkboard-teacher {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-chalkboard-teacher);
  }
}

.cloud-upload-alt {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-cloud-upload-alt);
  }
}

.registered {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-registered);
  }
}

.download {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-download);
  }
}

.envelope {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-envelope);
  }
}

.handshake {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-handshake);
  }
}

.book-open {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-book-open);
  }
}

.creative-commons-nc {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-creative-commons-nc);
  }
}

.creative-commons {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-creative-commons);
  }
}

.facebook-f {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-facebook-f);
  }
}

.youtube {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-youtube);
  }
}

.irc {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-hashtag);
  }
}

.arrow-right {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-arrow-right);
  }
}
