@font-face {
    font-family: 'rokkittblack';
    src: url('rokkitt-black-webfont.woff2') format('woff2'),
         url('rokkitt-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rokkittbold';
    src: url('rokkitt-bold-webfont.woff2') format('woff2'),
         url('rokkitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rokkittextrabold';
    src: url('rokkitt-extrabold-webfont.woff2') format('woff2'),
         url('rokkitt-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rokkittextralight';
    src: url('rokkitt-extralight-webfont.woff2') format('woff2'),
         url('rokkitt-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rokkittlight';
    src: url('rokkitt-light-webfont.woff2') format('woff2'),
         url('rokkitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rokkittmedium';
    src: url('rokkitt-medium-webfont.woff2') format('woff2'),
         url('rokkitt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rokkittregular';
    src: url('rokkitt-regular-webfont.woff2') format('woff2'),
         url('rokkitt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rokkittsemibold';
    src: url('rokkitt-semibold-webfont.woff2') format('woff2'),
         url('rokkitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rokkittthin';
    src: url('rokkitt-thin-webfont.woff2') format('woff2'),
         url('rokkitt-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}