---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ site.name }} | {% t slogan %}</title>

    {% include css.html %}

    {% include favicon.html %}

    {% include seo/seo.html %}
</head>
<body>
    <header>
        {% include components/navbar.html %}
    </header>
    
    <main>
        {{ content }}
    </main>

    {% include components/footer.html %}


    {% include javascript.html %}
</body>
</html>
